.showvideoLeft img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.showvideoLeft {
  background-color: rgb(245, 245, 245);
}
.userprofileComment {
  overflow: hidden;
}
.SingleVideo{
  background-color: rgba(40, 36, 36, 0.808);
}
.showSingleVideo{
  box-shadow: none;
}
@media screen and (max-width: 768px) {
  .showvideoLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .showvideoLeft {
    background-color: rgb(245, 245, 245);
  }
  .userprofileComment {
    overflow: hidden;
  }
  .SingleVideo{
    background-color: rgba(255, 255, 255, 0.808);
  }
  .showSingleVideo{
    box-shadow: none;
  }
  
} 
  
