.Epaper {
  height: 100vh;
  width: 100vw;
  
}
.Epaper h3 {
  font-size: 1.2vmax;
  margin-top: 8%;
  font-family: Noto Sans Black;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.Epaper strong {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-top: 1rem;
}
.allEpaper {
  /* margin-left: 20.5%; */
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  width: 100%;
  margin-top: 3%;
  background-color: rgb(41, 41, 41);
  padding: 150px;
}
.epaperBhopal {
  padding: 6px;
  /* width: 12vw; */
  height: 55vh;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 1%;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;

}
.epaperBhopal h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 1rem;
}
.epaperBhopal img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.epaperBhopal:hover {
  scale: 1.05;
}


@media (max-width: 500px) {
  .allEpaper {
    flex-direction: column;
    padding: 60px;
    background-color: rgb(28, 28, 28);
  }

  .epaperBhopal {
    margin-right: 0;
    margin-top: 1%;
    margin-top: 20%;
    height: 40vh;
    margin-bottom: 10%;
  }
  .Epaper h3 {
    padding: 20px;
    margin-top: 17%;
    font-size: 2rem;
  }
}

