.epaperRight::-webkit-scrollbar {
  display: none;
}
.LocationEpaper {
  margin-top: -5%;
  padding: 30px;
  background-color: #efefef;
  width: 100%;
  box-shadow: 0px 0px 1px rgb(199, 199, 199);
  overflow: visible;
}
.NextButton {
  position: absolute;
  left: 39.5%;
  margin-top: 1.1%;
  height: 2vmax;
  width: 5vmax;
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 0.8vmax;
  border: 1px solid black;
  background-color: rgb(12, 114, 160);
  color: white;
  border-radius: 10px 0px 10px 0px;
  border: none;
}
.NextButton:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px 0px 10px 0px;
  border: 0.2px solid rgb(105, 105, 105);
}
.PrevButton {
  position: absolute;
  left: 34%;
  margin-top: 1.1%;
  height: 2vmax;
  width: 5vmax;
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 0.8vmax;
  border: 1px solid black;
  background-color: rgb(12, 114, 160);
  color: white;
  border-radius: 0px 10px 0px 10px;
  border: none;
}
.PrevButton:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 0px 10px 0px 10px;
  border: 0.2px solid rgb(105, 105, 105);
}
.LocationEpaper h1 {
  margin-top: 1%;
  font-size: 19px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.Lepaper {
  padding: 120px;
}
.LocationDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 8vh;
  width: 100%;
  border: 1px solid rgb(216, 216, 216);
  background-color: rgb(222, 222, 222);
}
.LocationDate input {
  padding: 10px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  background-color: rgb(255, 255, 255);
  border: 0.1px solid rgb(196, 196, 196);
}
.LocationDate button {
  height: 100%;
  width: 20%;
  border: none;
  outline: none;
  background-color: rgb(12, 114, 160);
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: 12px;
}
.epaperss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
}
.epaperLeft {
  width: 65%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(216, 216, 216);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s;
}
.epaperLeft img {
  width: 100%;
  height: 100%;
}
.epaperRight {
  position: relative !important;
  height: 100vh;
  width: 27%;
  overflow: auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}
.Epapertop {
  height: 7vh;
  width: 14.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(216, 216, 216);
  background-color: rgb(0, 0, 0);
  z-index: 100;
  color: white;
}

.epaperRightAll {
  padding: 5px;
  height: 40vh;
  width: 100%;
  margin-top: 10%;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
  border: 1px solid rgb(202, 202, 202);
}

.epaperRightAll:hover {
  scale: 1.05;
  box-shadow: 4px 4px 4px rgb(199, 199, 199);
  border: none;
}
.epaperRightAll img {
  width: 100%;
  height: 100%;
}
.Epapertop i {
  font-size: 1.4vmax;
  font-weight: 600;
  color: rgb(255, 255, 255);
  animation-name: example;
  animation-duration: 4s;
}

@media (max-width: 500px) {
  .epaperRight::-webkit-scrollbar {
    display: none;
  }
  .LocationEpaper {
    background-color: #e3e3e3;
    width: 100%;
    margin-top: 13%;
  }
  .LocationEpaper h1 {
    margin-top: 1%;
    font-size: 19px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
  }
  .Lepaper {
    padding: 0px;
  }
  .LocationDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 8vh;
    width: 100%;
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(255, 255, 255);
  }
  .LocationDate input {
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
  }
  .LocationDate button {
    height: 100%;
    width: 30%;
    border: none;
    outline: none;
    background-color: rgb(12, 114, 160);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: 12px;
  }
  .epaperss {
    display: initial;
    width: 80%;
    margin-left: 10%;
  }

  .epaperLeft {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 10%;
  }
  .epaperLeft img {
    width: 100%;
  }
  .epaperRight {
    position: relative !important;
    height: 100vh;
    width: auto;
    overflow: auto;
    padding: 20px;
    margin-top: 10%;
    background-color: rgb(255, 255, 255);
  }
  .Epapertop {
    height: 6vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34vmax;
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(89, 89, 89);
    z-index: 100;
    color: white;
  }

  .epaperRightAll {
    padding: 3px;
    height: 40vh;
    width: 100%;
    margin-top: 10%;
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s;
  }
  .epaperRightAll:hover {
    scale: 1.04;
    box-shadow: 1px 1px 1px rgb(199, 199, 199);
  }
  .epaperRightAll img {
    width: 100%;
    height: 100%;
  }

  .Epapertop i {
    font-size: 3vmax;
    font-weight: 600;
    color: rgb(255, 255, 255);
    animation-name: example;
    animation-duration: 4s;
  }

  .NextButton {
    position: absolute;
    left: 49.5%;
    margin-top: 2.6%;
    height: 3vmax;
    width: 5vmax;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 0.8vmax;
    border: 1px solid black;
    background-color: rgb(12, 114, 160);
    color: white;
    border-radius: 10px 0px 10px 0px;
    border: none;
  }
  .NextButton:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px 0px 10px 0px;
    border: 0.2px solid rgb(105, 105, 105);
  }
  .PrevButton {
    position: absolute;
    left: 37%;
    margin-top: 2.6%;
    height: 3vmax;
    width: 5vmax;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 0.8vmax;
    border: 1px solid black;
    background-color: rgb(12, 114, 160);
    color: white;
    border-radius: 0px 10px 0px 10px;
    border: none;
  }
  .PrevButton:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 0px 10px 0px 10px;
    border: 0.2px solid rgb(105, 105, 105);
  }
}
