.Navbar {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  font-family: Noto Sans Black;
  z-index: 1000;
  border-bottom: 1px solid #e1e1e1;
background: #f9f8f8;
box-shadow:  35px 35px 70px #bebebe,

}
.Navbar-dark {
  background: #000000 !important;
  color: white !important;
}
.Navbar-dark a{
  background: #000000;
  color: white !important;
}
.Navbar > .nav-logo {
  margin: 15px;
  margin-top: 0.6%;
}
.nav-logo img {
  width: 160px;
  height: 40px;
  padding-left: 0.5vmax;
}
.playstore {
  position: absolute;
  overflow: hidden;
  width: 8vmax;
  left: 21.4%;
  top: 0.45vmax;
}
.playstore img {
  height: 100%;
  width: 100%;
}
.applestore {
  position: absolute;
  border-radius: 12px;
  overflow: hidden;
  width: 9.1vmax;
  left: 28.4%;
  top: 0.7vmax;
}
.applestore img {
  height: 100%;
  width: 100%;
}
.followus {
  display: none;
}
.Navbar > .nav-items > a,
.Navbar > .nav-items > button {
  color: #000000;
  font-size: 1vmax;
  text-decoration: none;
  padding: 15px;
  position: relative;
  opacity: 0.9;
  padding-left: 15px;
}
.Navbar > .nav-items > button {
  background: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000000;
  padding: 0.5vmax 1.5vmax;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.Navbar > .nav-items > a i {
  font-size: 16px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
  margin-left: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
}

.Navbar > .nav-items > a:hover {
  opacity: 1;
  color: #ff9900;
}

.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: all 0.45s;
}

.Navbar > .nav-items > a:hover::before {
  width: 100%;
}

.Navbar > .nav-toggle {
  display: none;
}


@media (max-width: 700px) {
  .Navbar > .nav-items {
    position: absolute;
    top: 56px;
    display: flex;
    flex-direction: column;
    background: rgb(234, 234, 234);
    left: 0;
    width: 100%;
    height: 100vmax;
    transform: translateX(-100%);
    transition: all 0.45s;
    color: rgb(0, 0, 0);
    z-index: 1022000;
    font-size: 20px;
    font-family: Noto Sans Black;
  }
  .nav-items.open a {
    font-size: 18px;
  }
  .Navbar > .nav-logo {
    margin: 15px;
    margin-top: 3%;
  }
  .nav-logo img {
    width: 140px;
    height: 35px;
    padding-left: 0vmax;
  }

  .Navbar > .nav-items.open {
    transform: translateX(0);
  }

  .Navbar > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000000;
  }
  .playstore {
    position: absolute;
    border-radius: 12px;
    overflow: hidden;
    width: 20vmax;
    left: 8.2%;
    top: 9.3%;
    display: none;
  }
  .playstore img {
    height: 100%;
    width: 100%;
  }
  .applestore {
    position: absolute;
    border-radius: 0px;
    overflow: hidden;
    width: 20.5vmax;
    left: 47.6%;
    top: 49.9%;
    height: 6.4vmax;
    display: none;
  }
  .applestore img {
    height: 100%;
    width: 100%;
  }
  .followus {
    display: inline;
    border-radius: 12px;
    overflow: hidden;
    width: 29vmax;
    height: 200px;
    margin-top: 47%;
    margin-left: 17%;
  }
  .followus h1 {
    font-size: 20px;
    font-family: gilroy;
    color: grey;
    font-weight: 100;
    margin-left: 29%;
  }
  .sociali {
    margin-left: 13%;
    display: flex;
    font-size: 25px;
  }
  .sociali i {
    color: rgb(0, 0, 0);
    margin-left: 8%;
  }

  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #f93c3c;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ff9595;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }

  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  .nav-toggle.open > .bar {
    transform: translateX(-40px);
    background: transparent;
  }

  .nav-toggle.open > .bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }

  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }
}
